@using TeamUp.Models;

@model TeamUp.ViewModels.ProjetoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ @Model.Projeto.Nome }

@section header{
    <link href="~/res/css/Projeto.css" rel="stylesheet" type="text/css" />    
    <script>

        function enviarAplicacao() {
            if (sendAjax('@Url.Action("SalvarAplicacao")', $('#formAjax').serialize())) {
                var vagaId = $('#@Html.IdFor(m => m.Aplicacao.VagaId)').val();
                $('#botaoVaga' + vagaId).attr('disabled', '');
                $('#botaoVaga' + vagaId).text('Aplicação enviada');
            }
        }

        function abandonarVaga(id) {
            showModal("Abandonar vaga", "#confirmacao");
            $("#confirmaModal").on("click", function () {
                $.get('@Url.Action("AbandonarVaga")', { id: id }, function (data) {
                    $(".abandonarVaga#" + id).attr('disabled', '');
                    $(".abandonarVaga#" + id).text(data.responseText);
                }).fail(function (data) {
                    alert(data);
                });
                closeModal('#confirmacao');
            });
        }

    </script>
}

@section outsideContent{    
    <div id="cover" class="col-xs-12" style="@Html.BackgroundImage(Model.Projeto.Id, ImageType.ProjetoCapa)">
        <h1 id="tituloProjeto">@Model.Projeto.Nome</h1>
        <h2>@Model.Projeto.Descricao</h2>
        <div id="logo" style="@Html.BackgroundImage(Model.Projeto.Id, ImageType.ProjetoLogo)">            
        </div>
    </div>
}

@section content{
    <div id="responsavel">
        <a id="linkUsuario" class="noLinkEffect" href="@Url.Action("", "Usuario", new { Id = Model.Projeto.UsuarioId })">
            <div id="reponsavelImagem" style="@Html.BackgroundImage(Model.Projeto.UsuarioId, ImageType.UsuarioPerfil)">
            </div>
            <h3 style="color:gray;font-weight:400;margin: 0 0 0 10px;display: flex;">
                @Model.Projeto.Usuario.PrimeiroNome @Model.Projeto.Usuario.UltimoNome
                <small class="observacao" style="top:-5px">autor</small>
            </h3>
        </a>
    </div>

    <h3 style="float:right; color:gray;font-weight:400"><small class="observacao">categoria</small>@Model.Projeto.CategoriaProjeto.Nome</h3>

    <div id="wrapper" class="col-xs-10 col-sm-offset-1">
        <div class="itemDetalhe">
            <h2>Sobre o projeto:</h2>
            <p class="preWrap">@Model.Projeto.Sobre</p>
        </div>

        <div class="itemDetalhe">
            <h2>Progresso:</h2>
            <input id="Projeto_Progresso" name="Projeto.Progresso" class="slider col-xs-12" readonly type="range" min="0"
                   max="100" value="@Model.Projeto.Progresso">
        </div>

        <div class="itemDetalhe">
            <h2>Vagas:</h2>
            @foreach (Vaga v in Model.Projeto.Vaga)
            {
                <h3>@v.Funcao</h3>
                <p class="preWrap">@v.Descricao</p>
                if (HttpContext.Current.Request.IsAuthenticated)
                {
                    switch (v.Disponibilidade)
                    {
                        case DisponibilidadeVaga.AplicacaoEnviada:
                            <button disabled>Aplicação enviada</button>
                            break;
                        case DisponibilidadeVaga.OcupandoEla:
                            <button id="@v.Id" class="abandonarVaga" onclick="abandonarVaga(@v.Id)">Abandornar vaga</button>
                            break;
                        case DisponibilidadeVaga.VagaOcupada:
                            <button disabled>Vaga ocupada</button>
                            break;
                        case DisponibilidadeVaga.Disponivel:
                            <button id="@Html.Raw("botaoVaga" + v.Id)" onclick="showModal('Aplicação à vaga: @v.Funcao', '#envioAplicacao');
                                                                            $('#@Html.IdFor(m => m.Aplicacao.VagaId)').val('@v.Id')">
                                Aplicar à vaga
                            </button>
                            break;
                    }
                }
            }
        </div>

    </div>
}

@section modalContent{

    <div id="envioAplicacao" style="display: none">
        <form id="formAjax" action="javascript: enviarAplicacao()">
            @Html.TextAreaFor(m => m.Aplicacao.Mensagem)
            @Html.ValidationMessageFor(m => m.Aplicacao.Mensagem)
            @Html.HiddenFor(m => m.Projeto.Id)
            @Html.HiddenFor(m => m.Aplicacao.VagaId)

            <input type="submit" value="Enviar" />
        </form>
    </div>

    <div id="confirmacao" style="display:none">
        <p>Você deseja abandonar a vaga?</p>
        <button id="confirmaModal">Sim</button>
        <button onclick="closeModal('#confirmacao')">Não</button>
    </div>

}