@model TeamUp.ViewModels.FormularioProjetoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ @Model.GetModo() de Projeto }

@section content{
    
    <form method="post" enctype="multipart/form-data" action="@Url.Action("EfetuaCadastro")">

        <input name="ImagemLogo" type="file" accept=".jpg"/>
        @Html.ValidationMessage("ImagemLogo")

        <input name="ImagemCapa" type="file" accept=".jpg"/>
        @Html.ValidationMessage("ImagemCapa")

        @Html.TextBoxFor(m => m.Projeto.Titulo)
        @Html.ValidationMessageFor(m => m.Projeto.Titulo)

        @Html.TextAreaFor(m => m.Projeto.Descricao)
        @Html.ValidationMessageFor(m => m.Projeto.Descricao)

        <input type="range" min="0" max="100" value="@Model.Projeto.Progresso" class="slider" name="Projeto.Progresso" id="Projeto_Progresso">        

        @{Model.Categorias.Insert(0, new TeamUp.Models.CategoriaProjeto() { Id = 0, Nome = "Selecione..." });}
        @Html.DropDownListFor(m => m.IdCategoriaSelecionada, new MultiSelectList(Model.Categorias, "Id", "Nome"))
        @Html.ValidationMessageFor(m => m.IdCategoriaSelecionada)

        <br />
        <br />

        @for (int i = 0; i < 5; i++)
        {
            @Html.TextBoxFor(m => m.Vagas[i].Funcao)
            @Html.ValidationMessageFor(m => m.Vagas[i].Funcao)

            @Html.TextBoxFor(m => m.Vagas[i].Descricao)
            @Html.ValidationMessageFor(m => m.Vagas[i].Descricao)

            if (Model.ModoValor == TeamUp.ViewModels.FormularioProjetoViewModel.Modo.Alteracao)
            {
                @Html.HiddenFor(m => m.Vagas[i].Id);
            }

            @Html.ValidationMessage("Vaga" + i)

            <br />
        }

        @if (Html.ViewData.ModelState["other"] != null)
        {
            <ul>
                @foreach (var error in Html.ViewData.ModelState["other"].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        }

        @Html.HiddenFor(m => m.ModoValor)
        @Html.HiddenFor(m => m.Projeto.Id)
        @if (Model.IdCategoriaSelecionada != 0)
        {
            @Html.HiddenFor(m => m.IdCategoriaSelecionada)
        }

        <input type="submit" />

    </form>

}