@model TeamUp.ViewModels.FormularioProjetoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ Cadastro de Projeto }

@section body{
    
    <form method="post" enctype="multipart/form-data" action="@Url.Action("EfetuaCadastro")">

        <input name="ImagemLogo" type="file" />

        <input name="ImagemCapa" type="file" />

        @Html.TextBoxFor(m => m.Projeto.Titulo)
        @Html.ValidationMessageFor(m => m.Projeto.Titulo)

        @Html.TextAreaFor(m => m.Projeto.Descricao)
        @Html.ValidationMessageFor(m => m.Projeto.Descricao)

        <input type="range" min="0" max="100" value="50" class="slider" id="Projeto.Progresso">        

        @{Model.Categorias.Insert(0, new TeamUp.Models.CategoriaProjeto() { Id = 0, Nome = "Selecione..." });}
        @Html.DropDownListFor(m => m.IdCategoriaSelecionada, new MultiSelectList(Model.Categorias, "Id", "Nome"), new { selected = "0"})
        @Html.ValidationMessageFor(m => m.IdCategoriaSelecionada)

        <br />
        <br />

        @for (int i = 0; i < 5; i++)
        {
            @Html.TextBoxFor(m => m.Vagas[i].Funcao)
            @Html.ValidationMessageFor(m => m.Vagas[i].Funcao)

            @Html.TextBoxFor(m => m.Vagas[i].Descricao)
            @Html.ValidationMessageFor(m => m.Vagas[i].Descricao)

            <br />
        }

        <input type="submit" />

    </form>

}