@using TeamUp.Models

@model TeamUp.ViewModels.PainelControleViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ Painel de Controle de Projetos }

@section header{
    <link rel="stylesheet" href="~/res/css/PainelControle.css"/>
    <script>
        
        function modalExclusao(pTitulo, pId) {
            showModal('Excluir projeto ' + pTitulo, '#exclusao');
            $("#nomeProjeto").text(pTitulo);
            $("#confirmaExclusao").click(pId, function (inbound) {
                if (sendAjax('@Url.Action("ExcluirProjeto")', { Id: inbound.data })) {
                    $("#projeto" + inbound.data).remove();
                    $("#exclusao").hide();
                }
            });
        }

        function modalAplicacoes(pTitulo, pId) {
            showModal('Aplicações do projeto ' + pTitulo, '#aplicacoes', ModalSize.LARGE);
            $.get("@Url.Action("ConsultaAplicacoes")", { Id: pId })
                .done(function (data) {
                    $("#aplicacoes").html(data);
                });
            $('#aplicacoes').change(function (changes) {
                if (changes.type == 'display') $('#aplicacoes').html('');
            });
        }

        function aceitarAplicacao(usuarioId, vagaId) {
            $("#aplicacoes").html('');
            $("#confirmacao").show();
            $("#acaoAplicacao").text('aceitar');
            $("#confirmaAplicacao").click(function () {
                if (sendAjax('@Url.Action("AceitarAplicacao")', { usuarioId: usuarioId, vagaId: vagaId })) {
                    $("#resultadosAplicacoes").html('');
                    $("#confimacao").hide();
                }
            });
        }

        function rejeitarAplicacao(usuarioId, vagaId) {
            $("#aplicacoes").html('');
            $("#confirmacao").show();
            $("#acaoAplicacao").text('rejeitar');
            $("#confirmaAplicacao").click(function () {
                if (sendAjax('@Url.Action("RejeitarAplicacao")', { usuarioId: usuarioId, vagaId: vagaId })) {
                    $("#resultadosAplicacoes").html('');
                    $("#confimacao").hide();
                }
            });
        }

    </script>
}

@section content{
    
    <div id="resultadosProjetos" class="col-sm-10 col-sm-offset-1">
        @foreach (Projeto p in Model.Projetos)
        {
            <div id="@Html.Raw("projeto" + p.Id)" class="item">
                <a class="noLinkEffect" href="@Url.Action("Index", "Projeto", new { Id = p.Id })">
                    <div class="logo" style="@Html.BackgroundImage(p.Id, ImageType.ProjetoLogo)"></div>
                </a>
                <div class="textoItem">
                    <a class="noLinkEffect" href="@Url.Action("Index", "Projeto", new { Id = p.Id })">
                        <h3>@p.Nome</h3>
                    </a>
                    <p>@p.Descricao</p>
                </div>
                <div class="acoesItem">
                    <a class="acaoItem" href="@Url.Action("AlteraProjeto", "FormularioProjeto", new { Id = p.Id })">
                        <button style="width:100%">
                            Modificar
                        </button>
                    </a>
                    <button class="acaoItem" onclick="modalExclusao('@p.Nome', '@p.Id')">
                        Excluir
                    </button>
                    <button class="acaoItem" onclick="modalAplicacoes('@p.Nome', '@p.Id')">
                        Ver Aplicações
                    </button>
                </div>
            </div>
        }

        @if (Model.Projetos.Count == 0)
        {
            <h1>Você ainda não possui projetos</h1>
            <p>Clique <a href="@Url.Action("Index", "FormularioProjeto")">aqui</a> para criar um novo projeto.</p>
        }
    </div>
}

@section modalContent{
    
    <div id="exclusao" style="display:none">
        <p>Você deseja realmente excluir o projeto "<span id="nomeProjeto"></span>"?</p>
        <button id="confirmaExclusao">Sim</button>
        <button onclick="closeModal('#exlusao')">Não</button>
    </div>
    
    <div id="aplicacoes" style="display:none">

    </div>

    <div id="confirmacao" style="display:none">
        <p>Você deseja <span id="acaoAplicacao"></span> a aplicação?</p>
        <button id="confirmaAplicacao">Sim</button>
        <button onclick="closeModal('#confirmacao')">Não</button>
    </div>

}
