@using TeamUp.Models;
@using PagedList;
@using PagedList.Mvc;

@model TeamUp.ViewModels.BuscaProjetosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link href="~/res/css/BuscaProjetos.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {

            var ativaFuncao = (function () {
                $(this).animate({ backgroundColor: "rgba(52, 73, 94, 0.63)" }, 250);
                $(this).children(".vagaFuncao").fadeIn(250);
            });

            var desativaFuncao = (function () {
                $(this).animate({ backgroundColor: "rgba(52, 73, 94, 0)" }, 250);
                $(this).children(".vagaFuncao").fadeOut(250);
            });

            $(".itemContent").hover(function () {
                $(this).find(".vagaContainer.animar").each(ativaFuncao);
            }, function () {
                $(this).find(".vagaContainer.animar").each(desativaFuncao);
            });

            $('#sempreMostrarFuncoes').on('change', function () {
                if (this.checked) {
                    $(".vagaContainer").each(ativaFuncao);
                    $(".vagaContainer").each(function () {
                        $(this).toggleClass('animar')
                    });
                } else {
                    $(".vagaContainer").each(desativaFuncao);
                    $(".vagaContainer").each(function () {
                        $(this).toggleClass('animar')
                    });
                }
            });

        });
    </script>
}

@section title{ Busca de Projetos }

@section content{
    
    <div id="filtros">

        <form method="get" action="@Url.Action("Index")">

            @Html.TextBoxFor(m => m.TituloProjetoBusca)
            @Html.ValidationMessageFor(m => m.TituloProjetoBusca)

            @Html.TextBoxFor(m => m.VagaBusca)
            @Html.ValidationMessageFor(m => m.VagaBusca)

            @{Model.Categorias.Insert(0, new TeamUp.Models.CategoriaProjeto() { Id = 0, Nome = "Selecione..." });}
            @Html.DropDownListFor(m => m.IdCategoriaSelecionada, new MultiSelectList(Model.Categorias, "Id", "Nome"))
            @Html.ValidationMessageFor(m => m.IdCategoriaSelecionada)

            <input type="submit" />

        </form>

        <input id="sempreMostrarFuncoes" type="checkbox" />
        <label class="normalLabel" for="sempreMostrarFuncoes">Sempre mostrar funções</label>

    </div>


    <div id="resultados">

        @foreach(Projeto p in Model.Projetos)
        {
            <div class="itemContainer col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1" id="@Html.Raw("projeto" + p.Id)">
                <div class="itemContent">
                    <a class="noLinkEffect" href="@Url.Action("Index", "Projeto", new { Id = p.Id })">
                        <div class="gradiente"></div>
                        <div class="projetoItem" style="@Html.BackgroundImage(p.Id, ImageType.ProjetoLogo)">
                            <div class="vagasOuter">
                                @foreach (Vaga v in p.Vaga) { 
                                <div class="vagaContainer animar">
                                    <span class="vagaFuncao">@v.Funcao</span>
                                    <div id="@v.Id" class="vagaIcone" style="background-image: url('@Url.Content("~/res/img/funcao.png")')"></div>
                                </div>
                                }
                            </div>
                            <h3 class="textoProjeto tituloProjeto">@p.Nome</h3>
                            <p class="textoProjeto descricaoProjeto">@p.Descricao</p>
                        </div>
                    </a>
                </div>
            </div>
        }

    </div>

    <div id="paginacao">
        @Html.PagedListPager(Model.Projetos, p => Url.Action("Index", new { pagina = p,
                                                                    TituloProjetoBusca = Model.TituloProjetoBusca,
                                                                    VagaBusca = Model.VagaBusca,
                                                                    IdCategoriaSelecionada = Model.IdCategoriaSelecionada}))
    </div>
    
}

